* {
    margin: 0;
    padding: 0;
}

/*header*/

.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #007765;
    width: 100%;
    height: 84px;
}

.logo_block{
    position: relative;
    width: 50%;
    height: 100%;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: block;
    width: 184px;
    height: 45px;
    text-align: center;
}

.nav_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;  
}

.nav_link{
    font-family: 'Roboto';
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.vertical_bar{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 24px;
    color: #fff;
    margin: 0 5px 5px 5px
}

/*Jumbotron*/

.Jumbotron{
    margin-top: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Jumbotron.png);
    width: 100%;
    height: 403px;
}

.Jumbotron_text{
    font-family: 'Roboto';
    font-size: 72px;
    color: #fff;
}

/*The Problem*/

.The_Problem{
    width: 100%;
    height: 671px;
    background-color: #eee;
    padding-top: 48px;
}

.The_Problem_header{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    color: #007765;
}

.The_Problem_paragraph{
    text-align: left;
    margin: auto;
    width: 1060px;
    font-family: 'Roboto';
    font-size: 32px;
    margin-top: 16px;
}

/*Hero*/

.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 483px;
    background-image: url(Images/Hero.png);
}

.Hero_paragraph{
    display: block;
    width: 893px;
    height: 228px;
    margin: auto;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 48px;
    color: #fff; 
}

/*PPC*/

.PPC{
    width: 100%;
    height: 556px;
    padding-top: 48px;
}

.PPC_header{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    color: #007765;
}

.PPC_textblock_1{
    display: block;
    margin: 16px auto 0 auto;
    width: 1110px;
}

.PPC_logo{
    float: left;
    margin-right: 48px;
}

.PPC_paragraph{
    font-family: 'Roboto';
    font-size: 32px;
}

/*Team*/

.Team{
    width: 100%;
    height: 787px;
    background-color: #eee;
    padding-top: 58px;
}

.Team_header{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    color: #007765;
    margin-bottom: 32px;
}

.Team_block{
    width: 1200px;
    margin: 32px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.Team_member_card{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 350px;
    height: 283px;
    margin: 0 30px 30px 0;
}

#right_element{
    margin-right: 0;
}

#bottom_element{
    margin-bottom: 0;
}

#right_bottom_element{
    margin-right: 0;
    margin-bottom: 0;
}

.Team_member_photo{
    width: 168px;
    height: 168px;
}

.Team_member_initials{
    display: block;
    width: 350px;
    margin-top: 12px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #007765;
}

.Team_member_position{
    display: block;
    width: 350px;
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 18px;
}

/*Footer*/

.Footer{
    width: 100%;
    height: 176px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_paragraph{
    display: block;
    width: 540px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    color: #fff; 
}