* {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
}

body{
    padding-top: 30px;
}

input.search{
    max-width: 300px;
    margin-right: 15px;
}

input{
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
}

.price_discount input {
    width: 70px;
}

button.add, good_delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.container{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.menu {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price_title,
.price_title span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

th {
    cursor: pointer;
    padding: 15px;
    text-align: center;
}

tr {
    height: 30px;
}

td {
    padding: 15px;
    text-align: center;
}

.good,
.price_good {
    display: flex;
    align-items: center;
    height: 60px;
}